.metricCard {
    background-image:linear-gradient( white, black);
    height: 10rem;
    width: 17rem;
    float: left;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 11px;

}

.mgrMetricsTH {
    background-color: chartreuse;
    width: 90%;
}

img {
    height: 2rem;
}