<div class="row">
    <div class="col">
        <button>CSV</button>
        <button>Excel</button>
    </div>
    <div class="col mgrMetricsSearch">
        <input type="search" placeholder="Search..." name="search"/>
    </div>
</div>

<div class="row">
    <div class="metricCard">
        <h4>Total Earned<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>

    </div>

    <div class="metricCard">
        <h4>Total Manager<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>

    <div class="metricCard">
        <h4>Total Scholar<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>

    <div class="metricCard">
        <h4>Total Unclaimed<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>

    <div class="metricCard">
        <h4>Historical Claimed<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>

    <div class="metricCard">
        <h4>Yesterday Total<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>

    <div class="metricCard">
        <h4>Partial Today<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>

    <div class="metricCard">
        <h4>Total Average<br/><strong>SLP</strong><img src="../assets/images/logos/slpToken.png"/></h4>
    </div>
</div>
<div class="row">
        <table class="mgrMetricsTH">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>TOTAL SLP</th>
                    <th>IN GAME SLP</th>
                    <th>IN RONIN SLP</th>
                    <th>AVERAGE</th>
                    <th>CLAIMS</th>
                    <th>MANAGER SLP</th>
                    <th>SCHOLAR SLP</th>
                    <th>PVP</th>
                </tr>
                
            </thead>
            <tbody>
                <td>Max</td>
                <td>$$</td>
                <td>$$</td>
                <td>$$</td>
                <td>$$</td>
                <td>$$</td>
                <td>$$</td>
                <td>$$</td>
                <td>$$</td>
            </tbody>

        </table>
</div>