<div class="row">
  <div class="col dashNav" >
    <h3><img src="../assets/images/logos/axieToken.png"/>
      $$$.$$$$$$ &nbsp; &nbsp; &nbsp; 
      <img src="../assets/images/logos/slpToken.png"/>
      $$.$$$$$ &nbsp;&nbsp;&nbsp; 
      <img src="../assets/images/logos/ethereum.png"/>
      $$$$.$$$$$$$ &nbsp;&nbsp; Nav</h3>
  </div>
</div>
<div class="row">
  <div class="d-flex">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
          <li>
              <img
              alt="Axie Prime Logo"
              src="../assets/images/logos/prime_logo_official_slim.png"
            />
          </li>
        <li ngbNavItem="top">
          <a ngbNavLink>Dashboard</a>
          <ng-template ngbNavContent>
              <app-dashboard></app-dashboard>
          </ng-template>
        </li>
        <li ngbNavItem="manager">
          <a ngbNavLink>Manager</a>
          <ng-template ngbNavContent>
            <app-manager></app-manager>
          </ng-template>
        </li>

        <li ngbNavItem="scholar">
          <a ngbNavLink>Add Scholar</a>
          <ng-template ngbNavContent>
            <h2>Scholar</h2>
          </ng-template>
        </li>

        <li ngbNavItem="axies">
          <a ngbNavLink>My Axies</a>
          <ng-template ngbNavContent>
            <h2>Axies List</h2>
          </ng-template>
        </li>

        <li ngbNavItem="donate">
          <a ngbNavLink>Donate</a>
          <ng-template ngbNavContent>
            <h2>Donations</h2>
          </ng-template>
        </li>

        <li ngbNavItem="middle">
          <a ngbNavLink>Settings</a>
          <ng-template ngbNavContent>
            <h2>Settings and Preferences</h2>>
          </ng-template>
        </li>

        <li ngbNavItem="logout">
          <a ngbNavLink>Logout</a>
          <ng-template ngbNavContent>
            <h2>Logout from your account</h2>>
          </ng-template>
        </li>
      </ul>
    
      <div [ngbNavOutlet]="nav" class="ml-4"></div>
    </div>
  </div>
  
